* {
    margin: 0;
   
}

body{
    background-color: #000000;
}

.barra-navegacion{
    width: 100%;
    height: 75px;
    background-color: black;
    position: sticky;
    top: 0;
    
}

.barra-navegacion-contenedor{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    position: sticky;
    color: white;
}


.logo-contenedor{
    flex: 0;
}
.logo{
    font-size: 60px;
    color: red;
    font-family: 'Tahoma', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    
}

a:hover,
a:focus{    
    text-decoration: none;
}

.icon{
    background-color:red;
    border-radius: 10px;
    text-decoration: none;
}



.menu-contenedor{
    width: 100%;
    height: 75px;
    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    
}
.menu-item-home,
.menu-item-search,
.menu-item-exit {
    flex: 1 1 4;
}



.menu-item-home{
    margin-left: 30px;
    margin-top: 20px;
}
.menu-item-search{
    margin-left: 0px;
    margin-top: 30px;
}
.menu-item-exit{
   margin-right: 30px;
   margin-top: 20px;
}

.lista-menu{
    display: flex;
    list-style: none;
}

.lista-menu-home{
    margin-right: 30px;
    margin-left: 30px;
}
.lista-menu-search{
    margin-right: 30px;
    margin-left: 30px;
}
.lista-menu-exit{
    float: right;
}




.contenedor{
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
  }

  .contenedor2{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    gap: 16px;
    }
    .tarjeta{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width: auto;
    border: 3px solid red;
    box-shadow: 2px 2px 8px 4px #921111d1;
    border-radius:15px;
    font-family: sans-serif;
    }
    .titulo{
    font-size: 24px;
    color: whitesmoke;
    padding: 10px 10px 0 10px;;
    }
    .cuerpo{
    padding: 10px;
    flex: 1 1 100%;    
    }
    .pie{
    background: red;
    border-radius:0 0 15px 15px;
    padding: 10px;
    text-align:center; }
    .pie a{
    text-decoration: none;
    color: black;
    }
   
    .imgLista{
        width: 300px;
        height: auto;
        justify-self: center;
        
    }

    @media (min-width: 768px) {
        .menu-contenedor{
            display: grid;        
            grid-template-columns: repeat(3, 33%);
            column-gap: 2rem;
            
        }
        .menu-item-exit {
            justify-self: end ;
            padding-right: 30px;
            
            
        }
        .menu-item-search{
            justify-self: center;
            
        }
        section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 2rem;
            
            
          }
        .contenedor2{
            margin: 10%;

        }
          
        
    }
